        <footer class="site-footer">
            <ul class="menu footer-menu">
                {% for menuItem in menu %}
                    <li class="menu-item {{ item.object_id == post.id ? 'current-page' }} {{ menuItem.classes|join }}">
                        {% if menuItem.object_id == post.id %}
                            <span class="hidden">Current Page:</span> {{ menuItem.title }}
                        {% else %}
                            <a href="{{ menuItem.url }}">{{ menuItem.title }}</a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </footer>
        {{ wp_footer }}
        {{ debugger }}
    </body>
</html>