{% macro menuItemClasses( item, post) %}
    menu-item 
    {{ item.object_id == post.id ? 'current-page' }}
    {{ item.subMenu ? 'menu-item-has-children' }}
    {% for subItem in item.subMenu %}
        {{ subItem.object_id == post.id ? 'current-menu-parent' }}
    {% endfor %}
    {{ item.classes|join }}
{% endmacro %}

{% macro menuItem( item, post ) %}
    <li class="{{ _self.menuItemClasses( item, post ) }}">
        {% if item.object_id == post.id %}
            Current Page: {{ item.title }}
        {% else %}
            <a href="{{ item.url }}">{{ item.title }}</a>
        {% endif %}
        {% if item.subMenu %}
            <ul class="sub-menu">
                {% for menuItem in item.subMenu %}
                    {{ _self.menuItem( menuItem, post ) }}
                {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endmacro %}

<header class="site-header">
    <h1 class="site-title"><a href="{{ site.url }}">{{ site.title }}</a></h1>
    <p class="site-description">{{ site.description }}</p>
    {% if menu|length > 0 %}
        <nav aria-labelledby="site-menu-label">
            <h2 id="site-menu-label" class="hidden">Site Menu</h2>
            <ul class="menu site-menu">
                {% for menuItem in menu %}
                    {{ _self.menuItem( menuItem, post ) }}
                {% endfor %}
            </ul>
        </nav>
    {% endif %}
</header>