<!doctype html>
<head {{lang}}>
    <meta charset="{{ charset }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ siteTitle }} | {{ siteDescription }}</title>
    <!--[if IE]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {{ wpHead }}
</head>
<body {{ bodyClass }}>
    {{ include('header.twig') }}
