<!doctype html>
<head {{lang}}>
    <meta charset="{{charset}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{siteTitle}} | {{siteDescription}}</title>
    {{wpHead}}
</head>
<body {{bodyClass}}>